/* body {
    color: blueviolet; 
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: ;
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}*/

.flexContainer {
    background: silver;
    display: flex;
    align-items: center;
}

.flexContainer:last-child { 
    margin-top: 2em;
}

body { 
    margin: 0; padding: 0;
}

div {
    height: 50px;
    width: 50px;
}

div:nth-child(1) { background-color: red; }
div:nth-child(2) { background-color: blue; }
div:nth-child(3) { background-color: green; }
div:nth-child(4) { background-color: yellow; } 
div:nth-child(5) { background-color: pink; }
div:nth-child(6) { background-color: black; } 
div:nth-child(7) { background-color: orange; } 
div:nth-child(8) { background-color: silver; }
/* fim do setup */


.flexContainer {
    display: flex;
}

.flexItem {
    /*flex-grow: 1;
    flex-shrink: 1;*/
    flex-basis: 200px;
}

/* 
.primeiro {
    flex-shrink: 2;
}

.flexContainer {
    display: flex; 
    justify-content: space-around;
    margin-top: 4rem;
    align-items: center;

.flexItem {
    flex-grow: 1;
    margin-top: 10rem;
    flex: 1 2;
}

.primeiro {
    flex-grow: 2;
    flex-shrink: 0;
}

.segundo {
    flex-grow: 3;
}

@media (max-width: 480px) {
    .cabecalho { 
        width: auto;    
    }

    .flexContainer {
        flex-wrap: wrap;
        width: 100%;
    }   
}
*/